@font-face {
  font-family: 'Parisine';
  font-weight: 400;
  src: url('/fonts/parisine-regular.otf');
}

@font-face {
  font-family: 'Parisine';
  font-weight: 600;
  src: url('/fonts/parisine-bold.otf');
}

:root {
  --blue: #0a0082;
  --yellow: #FFBE00;
  --white: white;
  --black: black;
}

html,
body,
#app {
  margin: 0;
  height: 100%;
}

.debug {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999;
  background: #0004;
  border: 1px dashed red;
}

button {
  appearance: none;
  border: none;
  background: var(--blue);
  color: var(--white);
  font: 14pt 'Parisine';
  padding: 4px 8px;
  cursor: pointer;
  &:focus {
    outline: 3px solid var(--yellow);
    outline-offset: 3px;
  }
  &:active {
    transform: translateY(1px);
  }
}

button.toggle-btn {
  display: inline-flex;
  align-items: center;
  gap: 5px;
  &:before {
    content: '';
    font-size: 12pt;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    background: #fff4;
  }
  &[data-value='true']:before { content: '✓'}
}